header {
    min-height: 300px;
    background-color: rgb(77, 202, 77);
    align-items: center;
    justify-content: center;
}

header h1 span {
    position: relative;
    /* top: 20px; */
    display: inline-block;
    /* animation: bounce .3s ease infinite alternate; */
    font-family: 'Titan One'cursive;
    font-size: 80px;
}





header p {
    margin-top: 40px;
    font-size: 20px;
}

@media screen and (max-width: 358px) {
    header h1 span {
        font-size: 60px;
    }
}

@media screen and (max-width: 358px) {
    header h1 span {
        font-size: 40px;
    }
    header p {
        font-size: 15px
    }
    ;
}
                    /* wnw */
                    
.tabs .indicator {
    background-color: greenyellow;
}

/* intro */

.intro{
    margin-top: 134px;
}

@media screen and (max-width:260px){
   .intro h3{
       font-size: 30px;
   } 
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
}

.intro p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}